<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url 'createtodo' %}">Create</a>
<a href="{% url 'currenttodos' %}">Current</a>
<a href="{% url 'copletedtodos' %}">Completed</a>

{% if user.is_authenticated %}
    logged In as {{ user.username }}
{% else %}
    <a href="{% url 'signupuser' %}">Sign Up</a>
    <a href="{% url 'loginuser' %}">Login</a>
{% endif %}
<form action="{% url 'logoutuser' %}" method="POST">
    {% csrf_token %}
    <button type="submit"> Logout</button>
</form>

{% block content %}{% endblock %}
</body>
</html>