<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'currenttodos' %}">Current Todos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'createtodo' %}">Create Todo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'copletedtodos' %}">Completed Todos</a>
      </li>
    </ul>
    <span class="navbar-text">
      <ul class="navbar-nav mr-auto">
          <li class="btn btn-secondary active">
              {% if user.is_authenticated %}
                Hello,{{ user.username }}!
                  </li >
                  <li class="btn btn-secondary active">
            {% else %}
                <a href="{% url 'signupuser' %}">Sign Up</a>
                  </li >
                  <li class="btn btn-secondary active">
                <a href="{% url 'loginuser' %}">Login</a>
            {% endif %}
          </li>
      <li class="nav-item active">
          <form action="{% url 'logoutuser' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary active"> Logout</button>
    </form>
      </li>
      </ul>
    </span>
  </div>
</nav>
{% block content %}{% endblock %}
</body>
</html>