<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
{% extends 'todo/base.html' %}
{% block content %}
    <div style="margin: 0 auto; width: 500px">
        <h1>Login</h1>
        <h2 >{{ error }}</h2>
        <form method="POST" style="margin: 0 auto">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
</div>
{% endblock %}
</body>
</html>