<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'todo/base.html' %}
{{ error }}
{% block content %}
    <h1> home page</h1>
    {{ todo.title }}
    {{ todo.text }}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">create</button>
    </form>
    <br>
    <form method="POST" action="{% url 'completetodo' todo.id %}">
        {% csrf_token %}
        <button type="submit">complete</button>
    </form>
    <br>
    <form method="POST" action="{% url 'deletetodo' todo.id %}">
        {% csrf_token %}
        <button type="submit">delete</button>
    </form>
{% endblock %}
</body>
</html>